<% content_for :title, current_user&.username %>

<% if current_user.present? %>
  <%= form_with(model: current_user.setting, data: { turbo_frame: "timeline" }) do |form| %>
    <%= form.label :sweeping, "Sweep tweets", class: "hidden" %>
    <%= form.check_box :sweeping %>
    <%= form.label :time_threshold, "Sweep tweets after" %>
    <%= form.select :time_threshold, [7, 30, 90, 180, 365] %>
    <span> days</span>
    <%= form.submit "Save" %>
  <% end %>

  <%= turbo_frame_tag "timeline" do %>
    <h3><%= timeline_title_for(current_user) %></h3>
    <%= render partial: "tweets/tweet", collection: @tweets %>

    <% if Rails.env.development? %>
      <%= link_to "Fetch new tweets", fetch_tweets_path %>
    <% end %>
  <% end %>
<% end %>
