<% content_for :title, current_user&.username %>

<% if current_user.present? %>
  <br />

  <%= button_to "Fetch new tweets", update_all_tweets_path, style: "float: left", method: :get %>

  <%= form_with(model: current_user.setting, html: {style: "float: right;"}) do |form| %>
    <%= form.label :time_threshold %>
    <%= form.select :time_threshold, [7, 30, 90, 180, 365] %>

    <%= form.label :sweeping %>
    <%= form.check_box :sweeping %>

    <%= form.submit "Save" %>
  <% end %>
  <br />

  <h3>Tweets to be deleted</h3>
  <%= render partial: "tweets/tweet", collection: @tweets %>
<% end %>
