<% content_for :title, "Keeps" %>

<%= render "shared/header" do %>
  Keeps
<% end %>

<%= render "shared/subheader" do %>
  Tweets that won't be deleted
<% end %>

<%= render "shared/timeline", tweets: @tweets %>

<%= turbo_frame_tag "pagination", src: keeps_path(format: :turbo_stream), loading: :lazy do %>
  <%# Pagination if javascript is disabled %>
  <% if @pagy.next.present? || @pagy.prev.present? %>
    <noscript>
      <style>#spinner { display: none; }</style>
      <div class="flex flex-col items-center justify-center mt-8 space-y-4">
        <%== pagy_info(@pagy, item_name: "Tweet".pluralize(@pagy.count)) %>
        <%== pagy_nav(@pagy) %>
      </div>
    </noscript>
  <% end %>

  <%# infinite scroll if javascript is enabled %>
  <%= render "shared/spinner" if @pagy.next.present? %>
<% end %>
