<%= form_with(
  model: current_user.setting, 
  class: "mt-24 mb-10", 
  data: { 
    turbo_frame: "timeline",
    controller: "autosubmit",
    autosubmit_target: "form"
  }) do |form| %>

  <div class="md:flex md:justify-center md:items-center space-x-3 text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-300 sm:text-4xl">
    <%= form.label :time_threshold, "Sweep tweets after" %>
    <div class="flex items-center space-x-3 justify-center mt-2 md:mt-0">
      <%= form.select :time_threshold, 
        [7, 30, 90, 180, 365],
        {},
        { 
          class: "mt-1 block pl-3 pr-10 py-2 text-base dark:bg-gray-700 border-gray-300 dark:border-gray-500 font-bold focus:outline-none focus:ring-sky-500 focus:border-indigo-500 sm:text-sm rounded-md",
          data: { action: "autosubmit#submit" }
        } %>
      <span class>days</span>
    </div>
  </div>

  <% if current_user.actively_subscribed? %>
    <div class="flex justify-center items-center my-4 text-xl text-gray-500 dark:text-gray-400">
      <%= form.check_box :sweeping, 
        class: "h-4 w-4 rounded text-sky-500 dark:bg-gray-700 mr-3 dark:border-none focus:outline-none focus:ring-sky-700 focus:border-sky-700",
        data: { action: "autosubmit#submit" } %> 
      <%= form.label :sweeping, "Sweep tweets" %>
    </div>
  <% else %>
    <div class="flex items-center flex-col prose mt-8">
      <span class="dark:text-gray-500 uppercase font-semibold tracking-wide mb-2">Upgrade to start sweeping</span>
      <%= turbo_frame_tag "checkout_button", src: checkout_path %>
    </div>
  <% end %>

  <div class="text-center" data-autosubmit-target="submit">
    <%= form.submit "Update Settings", class: "px-8 py-4 rounded-full bg-white border border-gray-200 shadow-md" %>
  </div>
<% end %>
