<% content_for :title, "Tweets" %>

<%= render "shared/header" do %>
  <%= render "threshold_setting_form" %>
<% end %>

<%= render "shared/subheader" do %>
  <%= render "sweeping_setting_form" %>
<% end %>


<%= turbo_stream_from current_user, :tweets %>

<%= turbo_frame_tag "timeline" do %>
  <%= render "shared/timeline", tweets: @tweets %>
<% end %>

<%= turbo_frame_tag "pagination", src: tweets_path(format: :turbo_stream), loading: :lazy do %>
  <%# Pagination if javascript is disabled %>
  <% if @pagy.next.present? || @pagy.prev.present? %>
    <noscript>
      <style>#spinner { display: none; }</style>
      <div class="flex flex-col items-center justify-center mt-8 space-y-4">
        <%== pagy_info(@pagy, item_name: "Tweet".pluralize(@pagy.count)) %>
        <%== pagy_nav(@pagy) %>
      </div>
    </noscript>
  <% end %>

  <%# infinite scroll if javascript is enabled %>
  <%= render "shared/spinner" if @pagy.next.present? %>
<% end %>
