<% content_for :title, "Tweets" %>

<%= render "shared/header" do %>
  <%= render "threshold_setting_form" %>
<% end %>

<%= render "shared/subheader" do %>
  <%= render "sweeping_setting_form" %>
<% end %>


<%= turbo_stream_from current_user, :tweets %>

<%= turbo_frame_tag "timeline" do %>
  <%= render "shared/timeline", tweets: @tweets %>
<% end %>

<%= turbo_frame_tag "pagination", src: tweets_path(format: :turbo_stream), loading: :lazy do %>
  <div class="flex flex-col items-center justify-center mt-8 space-y-4">
    <%== pagy_info(@pagy, item_name: "Tweet".pluralize(@pagy.count)) %>
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
