<title>
  Tweet Sweeper
  <% if content_for?(:title) %>
    | <%= yield(:title) %>  
  <% end %>
</title>

<%= favicon_link_tag %>
<%= favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png" %>
<%= favicon_link_tag "safari-pinned-tab.svg", rel: "mask-icon", color: "#5bbad5" %>

<meta name="viewport" content="width=device-width,initial-scale=1">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@SweepYourTweets" />
<meta name="twitter:creator" content="@pbmarcano" />
<meta name="twitter:title" content="Tidy up your Twitter profile in two clicks" />
<meta name="twitter:description" content="Tweet Sweeper automatically deletes your old tweets so you can show off the current you." />
<meta name="twitter:image" content="<%= image_url("card-share.png") %>" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<%= javascript_importmap_tags %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap" rel="stylesheet"> 
<script src="https://js.stripe.com/v3/"></script>
