<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<title>
  <% if content_for?(:title) %>
    <%= yield(:title) %> /
  <% end %>
  Tweet Sweeper
</title>

<%= favicon_link_tag %>
<%= favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png" %>
<%= favicon_link_tag "safari-pinned-tab.svg", rel: "mask-icon", color: "#5bbad5" %>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@SweepYourTweets" />
<meta name="twitter:creator" content="@pbmarcano" />
<meta property="og:title" content="Tidy up your Twitter profile" />
<meta property="og:description" content="Tweet Sweeper deletes your old tweets, automatically" />
<meta property="og:image" content="<%= image_url("card-share.png") %>" />
<meta property="og:url" content="<%= request.original_url %>" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap" rel="stylesheet"> 
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<%= javascript_importmap_tags %>
<script src="https://js.stripe.com/v3/"></script>
