<title>
  Tweet Sweeper
  <% if content_for?(:title) %>
    | <%= yield(:title) %>  
  <% end %>
</title>
<%= favicon_link_tag %>
<%= favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png" %>
<%= favicon_link_tag "safari-pinned-tab.svg", rel: "mask-icon", color: "#5bbad5" %>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<%= javascript_importmap_tags %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap" rel="stylesheet"> 
<script src="https://js.stripe.com/v3/"></script>
