<header class="max-w-2xl my-2 px-2 md:px-0 mx-auto flex justify-between">
  <div class="flex items-baseline font-display font-bold dark:text-slate-300">
    <%= link_to root_path do %>
      <%= render "shared/logo", height: "h-7 inline-block mr-2" %>
      <span class="text-sky-600 dark:text-sky-500">Tweet</span> Sweeper
    <% end %>
  </div>

  <% if current_user.present? %>
    <div id="nav-dropdown" class="flex items-center justify-end">
      <div class="shrink-0 relative ml-5" 
           data-controller="dropdown"
           data-dropdown-entering-class="ease-out duration-100"
           data-dropdown-visible-class="opacity-100 scale-100"
           data-dropdown-enter-timeout="100"
           data-dropdown-leaving-class="ease-in duration-75"
           data-dropdown-invisible-class="opacity-0 scale-95"
           data-dropdown-leave-timeout="75">
        <button type="button" class="bg-white rounded-full flex focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide">
          <span class="sr-only">Open user menu</span>
          <%= image_tag current_user.profile_image, class: "h-10 w-10 rounded-full shadow" %>
        </button>

        <div class="origin-top-right absolute z-10 right-0 mt-2 w-48 rounded-md shadow-lg bg-white dark:bg-slate-700 py-1 focus:ring-1 ring-slate-500 focus:outline-none hidden transform transition opacity-0 scale-95" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" data-dropdown-target="menu">
          <div class="px-4 py-2 border-b dark:border-slate-800">
            <div class="text-sm font-medium text-slate-500 dark:text-slate-400">Signed in as</div>
            <div class="text-base font-medium text-slate-800 dark:text-slate-300">@<%= current_user.username %></div>
          </div>
          <% if current_user.actively_subscribed? %>
            <%= link_to "Manage Subscription", billing_path, class: "block py-2 px-4 text-sm dark:hover:bg-slate-600 hover:bg-slate-100 text-slate-700 dark:text-slate-400 border-b dark:border-slate-800" %>
          <% end %>
          <% if Rails.env.development? %>
            <%= link_to "Fetch tweets", fetch_tweets_path, class: "block py-2 px-4 text-sm dark:hover:bg-slate-600 hover:bg-slate-100 text-slate-700 dark:text-slate-400 border-b dark:border-slate-800" %>
            <%= link_to "Sweep tweets", sweep_tweets_path, class: "block py-2 px-4 text-sm dark:hover:bg-slate-600 hover:bg-slate-100 text-slate-700 dark:text-slate-400 border-b dark:border-slate-800" %>
          <% end %>
          <!-- Active: "bg-slate-100", Not Active: "" -->
          <%= link_to "Sign out", session_path, class: "block py-2 px-4 text-sm dark:hover:bg-slate-600 hover:bg-slate-100 text-slate-700 dark:text-slate-400", role: "menuitem", tabindex: "-1", data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>
  <% end %>
</header>
